
.client-location {
    padding: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input, textarea {
    margin-bottom: 10px;
    width: 100%;
  }
  